<div>
<h1>Rover</h1>
  <a href="#" class="navbar-brand">{{ title }}</a>

  <form  [formGroup]="addRoverForm" (ngSubmit)="createRover()">
 
    <p>
      <label for="initialX">Initial X </label>
      <input type="text" id="initialX" name="initialX" formControlName="initialX" >
    </p>
   
    <p>
      <label for="initialY">Initial Y </label>
      <input type="text" id="initialY" name="initialY" formControlName="initialY">
    </p>
   
    <p>
      <label for="initialD">Initial D </label>
      <input type="text" id="initialD" name="initialD" formControlName="initialD">
    </p>
   
    <p>
      <label for="input">Input </label>
      <input type="text" id="input" name="input" formControlName="input">
    </p>
  
    <p>
      <button type="submit">Get result</button>
    </p>
   
  </form>
<p>The Result for {{addRoverForm.value.initialX}} {{addRoverForm.value.initialY}} {{addRoverForm.value.initialD}}|{{addRoverForm.value.input}} <br> is </p>
  <h4 *ngIf="output">{{output.finalX}}  {{output.finalY}} {{output.finalD}}</h4>
  
 
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>